.contact{

    background-color: #2F2F2F;
    color: #ffffff;
    text-align: center;
    
    justify-content: center;
    
}

.contact-list{
    display: flex;
    justify-content: space-between;
}

.contact-list-phone{
   display: block;
   font-size: 2rem;
}

button, input, optgroup, select, textarea {
    min-width: 100%;
}
.btn{
    min-width: 30%;
}